

.title {
    font-family: "Vollkorn SC";
}

body {
    background-color: #ffeeff;
}

ul {
    padding-left: 2rem !important;
}

.mw-60 {
    max-width: 60%;
}

.mn-50 {
    min-width: 50%;
}

.red {
    color: red;
}

.custom_form {
    margin-top: 1em;
}

.custom_div {
    text-align: center;
    margin-bottom: 1em;
}
.custom_label {
    text-align: center;
    text-decoration: underline;
}
.contact_label {
    font-weight: bold;
}

.quote_calculator {
    border: 1px solid black;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 500px) {
    .small {
        display: none;
    }
}