

.title {
    font-family: "Vollkorn SC";
}

body {
    background-color: #ffecff;
}

ul {
    padding-left: 2rem !important;
}

.mw-60 {
    max-width: 60%;
}

.mn-50 {
    min-width: 50%;
}

.red {
    color: red;
}

.custom_form {
    margin-top: 1em;
}

.custom_div {
    text-align: center;
    margin-bottom: 1em;
}
.custom_label {
    text-align: center;
    text-decoration: underline;
}
.contact_label {
    font-weight: bold;
}

.quote_calculator {
    border: 1px solid black;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* Menus */
.active a{
    color: #dda200 !important;
}

.active a:hover {
    color: #b18200 !important;
}

.navbar-custom {
    background-color: #ffe4ff;
}

/* Images */
.menu-brand {
    width: 10vw;
    max-width: 48px;
}

@media screen and (max-width: 500px) {
    .small {
        display: none;
    }
}