.title {
    font-family: "Vollkorn SC";
}

.subtitle {
    font-size: .8em;
    text-align: center;
}

body {
    background-color: #ffecff;
}

ul {
    padding-left: 2rem !important;
}

.mw-60 {
    max-width: 60%;
}

.mn-50 {
    min-width: 50%;
}

.red {
    color: red;
}

.custom_form {
    margin-top: 1em;
}

.custom_div {
    text-align: center;
    margin-bottom: 1em;
}
.custom_label {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1.25em;
}
.contact_label {
    font-weight: bold;
}

.quote_calculator {
    border: 1px solid black;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.total_span {
    font-size: 1.5em;
}

/* Bootstrap Overides */
div.container-fluid {
    --bs-gutter-x: .75rem;
}

/* Menus Overrides*/
.active a{
    color: #dda200 !important;
}

.active a:hover {
    color: #b18200 !important;
}

.navbar-custom {
    background-color: #ffe7ff;
    border-top: 1px #ffd8ff solid;
    border-bottom: 1px #ffdcff solid;
    margin-bottom: 10px;
}

ul {
    padding-left: 0 !important;
}

.navbar-brand {
    --bs-navbar-brand-margin-end: 0;
}

/* Images */
.menu-brand {
    width: 12vw;
    max-width: 64px;
}

/* Media Queries */
@media screen and (min-width: 767px) {
    #navbarNav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}