{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav class="navbar navbar-expand-sm navbar-custom">
    <div class="container-fluid">
      <div class="navbar-brand">
        <img src="/android-chrome-192x192.png" class="menu-brand" />
      </div>
      <div>
        <h5 class="text-center">{{ $page.Title }}</h5>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav text-center">
          <!-- <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li> -->
          <!-- <li class="nav-item active"><a class="nav-link" href="services.html">Services</a></li> -->
          <!-- <li class="nav-item"><a class="nav-link disabled" href="Portfolio">Portfolio</a></li> -->
          <!-- <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li> -->
          <!-- <li class="nav-item"><a class="nav-link" href="about.html">About</a></li> -->
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      </div>
    </div>
  </nav>
  <div class="col-12">
    <!-- <h1 class="fs-3 title text-center">{{ site.Title }}</h1> -->
    <!-- <h6 class="subtitle text-center">{{ site.Params.Subtitle }}</h6> -->
  </div>

{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $href := dict "href" .URL }}
    {{- $attrs := dict }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "nav-item active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "nav-item ancestor" "aria-current" "true") }}
    {{- else -}}
      {{- $attrs = merge $attrs (dict "class" "nav-item") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li
      {{- range $k, $v := $attrs }}
        {{- with $v }}
          {{- printf " %s=%q" $k $v | safeHTMLAttr }}
        {{- end }}
      {{- end -}}
    >
    <a class="nav-link"
      {{- range $h, $l := $href }}
        {{- with $l }}
          {{- printf " %s=%q" $h $l | safeHTMLAttr }}
        {{- end }}
      {{- end -}}
    >{{ $name }}</a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}